.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(159, 0, 127);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 350px;
  height: 500px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 4px solid rgb(159, 0, 127);
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  color: red;
}

.restart-btn {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  color: #fff;
}

.winner-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.massage_block {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  z-index: 100;
  border: 4px solid rgb(159, 0, 127);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.massage_block > p {
  color: #fff;
  letter-spacing: 3.5px;
  text-align: center;
}

.winner-block_img{
  display: block;
  width: auto;
  height: 420px;
}
